<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161477242847-ctn31f0mlsn89654jpsnnd7o92o00oq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161477242847-ctn31f0mlsn89654jpsnnd7o92o00oq2</string>
	<key>API_KEY</key>
	<string>AIzaSyAEpu3OSMJbwJ9_BQLh6t0KvneI_Bl-U-4</string>
	<key>GCM_SENDER_ID</key>
	<string>161477242847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.netflixClonecoding</string>
	<key>PROJECT_ID</key>
	<string>netflix-clone-891eb</string>
	<key>STORAGE_BUCKET</key>
	<string>netflix-clone-891eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161477242847:ios:acb27c094e5f611defde6a</string>
</dict>
</plist>